@import url("./variables.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: #fff;
  background-color: var(--gray-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  color: var(--white);
  text-decoration: none;
}

p {
  margin-bottom: 25px;
}

p.decorated {
  border-left: 3px solid var(--yellow-light);
  padding-left: 10px;
}

header.main-header {
  height: 70px;
  padding: 0 20px;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  gap: 15px;
}

.branding img {
  max-width: 250px;
}

.navigation {
  list-style-type: none;
}

.navigation-collapsable {
  z-index: 3;
}

.navigation .navigation-link:hover {
  color: var(--yellow-light);
}

.navigation-link {
  font-size: 18px;
}

.navigation-horizontal {
  display: flex;
  gap: 15px;
}

.navigation-toggler {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

.dark-bg {
  background-color: var(--gray-darker);
}

.light-bg {
  background-color: var(--gray-light);
}

.highlight-text {
  color: var(--yellow-light);
}

section {
  position: relative;
}

section.decorated-left:before,
section.decorated-right:after {
  content: "";
  background: var(--yellow-dark);
  position: absolute;
  top: 0;
  width: 30%;
  height: 3px;
  transform: translateY(-50%);
}

section.decorated-left:before {
  left: 0;
}

section.decorated-right:after {
  right: 0;
}

.content-wrapper {
  max-width: 1280px;
  padding: 40px 30px;
  margin: 0 auto;
}

.page-title {
  color: var(--yellow-light);
  font-size: 35px;
  margin-bottom: 5px;
}

.section-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.section-content {
  padding: 40px 0;
}

.primary-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 3px solid var(--yellow-light);
  display: inline-block;
  color: var(--yellow-light);
  font-weight: bold;
}

.primary-button:hover {
  background: var(--yellow-light);
  transition: 0.15s ease-in-out;
  color: var(--black);
}

.hero-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.hero-content {
  margin-bottom: 50px;
  font-size: 18px;
}

.hero-image {
  max-width: 300px;
}

.hero-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.hero-group {
  margin-bottom: 30px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}

.card,
.banner {
  background-color: var(--gray-light);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
}

.card {
  width: 150px;
  height: 175px;
  align-items: center;
  justify-content: center;
}

.card:hover {
  background-color: var(--yellow-light);
  transition: 0.15s ease-in;
}

.card-icon {
  font-size: 50px;
}

.card-title {
  font-weight: bold;
}

.banner {
  max-width: 1000px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 50px;
}

.banner-image,
.banner-image img {
  width: 100%;
}

.banner-image {
  max-height: 400px;
}

.banner-image img {
  object-fit: fill;
  height: 100%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.banner-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 5px 0 20px 0;
}

.pill {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--gray-darker);
  width: fit-content;
  color: var(--yellow-light);
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.pill:hover {
  box-shadow: none;
}

.pill i {
  color: #eee;
  font-size: 18px;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  .navigation-collapsable {
    background-color: var(--black);
    width: 100%;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    border-top: 1px solid var(--gray-dark);
    padding: 0 0 25px 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  }

  .navigation-horizontal {
    flex-direction: column;
    gap: 0;
    width: 80%;
    margin: auto;
  }

  .navigation-horizontal .navigation-link {
    border-bottom: 1px solid var(--gray-light);
    padding: 20px;
    display: block;
  }

  .navigation-toggler,
  .visible {
    display: block;
  }

  .banner-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 544px) {
  .branding {
    font-size: 20px;
  }

  .banner {
    border-bottom-right-radius: 10px;
  }

  .banner-buttons .primary-button {
    padding: 5px 10px;
  }
}
