:root {
  --gray-darker: #2c2e35;
  --gray-dark: #313236;
  --gray-light: #46474b;
  --yellow-dark: #b97500;
  --yellow-light: #f9b43c;
  --white: #ffffff;
  --black: #000000;
  --green-light: #588b8b;
  --green-dark: #426e6e;
}
