:root {
  --gray-darker: #31333b;
  --gray-dark: #34353a;
  --gray-light: #3d3e42;
  --yellow-dark: #ac6d00;
  --yellow-light: #e2a336;
  --white: #ffffff;
  --black: #000000;
  --green-light: #588b8b;
  --green-dark: #426e6e;
}
